<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <button type="button" class="btn btn-outline-light" [routerLink]="['']" skipLocationChange >Ansible Playbook Generator</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item my-auto">
          <p class="text-xs-center text-white ">{{now | date :'dd-MMM-yyyy hh:mm:ss'}}</p>
        </li>
      </ul>
    </div>
  </nav>
  